<p>Welcome to <%= workspace.name %></p>
<div id="actions">
	<form id="message_form" action="#" method="get">
		<p>Post a message</p>
		<div>
			<textarea name="message" id="message"></textarea>
			<p><input id="send_button" type="submit" value="send" /></p>
		</div>
	</form>
	<form id="file_form" action="#" method="get">
		<p>Post a file</p>
		<div>
			<input type="file" name="upload" value="" id="upload" />
			<p><input id="send_button" type="submit" value="upload" /></p>
		</div>
	</form>
	<div id="bookmarker">
		<p>Drag the following link to the address bar:</p>
		<a href="javascript:location.href='<%= bookmarklet %>?location='+encodeURIComponent(location.href)+'&name='+encodeURIComponent(document.title)">Post to <%= workspace.name %></a>
	</div>
</div>


<div id="workspace">
	<h1>Messages</h1>
	<div id="messages">
		<%_.each(workspace.posts, function(post) { %>
			<div id="<%= post.postId %>" class="message">
				<p class="poster"><%= post.nickname %> posted:</p>
				<p><%= post.message %></p>
				<div class="replies">
					<div class="post_reply">
						<form action="#" class="reply_form">
							<textarea class="reply" name="reply"></textarea>
							<p><input type="submit" value="+reply"></p>
						</form>
					</div>
				</div>
			</div>
		<% }) %>
	</div>
</div>
