<p>Welcome to <%= workspace.name %></p>
<div id="actions">
	<form id="message_form" action="#" method="get">
		<p>Post a message</p>
		<div>
			<textarea name="message" id="message"></textarea>
			<p><input id="send_button" type="submit" value="send" /></p>
		</div>
	</form>
	<form id="file_form" action="/<%= workspace.name %>/upload" method="post" enctype="multipart/form-data">
		<p>Post a file</p>
		<div>
			<p><input type="file" name="upload" value=""></p>
			<p><input id="send_button" type="submit" value="upload" /></p>
		</div>
	</form>
	<div id="bookmarker">
		<p>Drag the following link to the address bar:</p>
		<a href="javascript:location.href='<%= bookmarklet %>?location='+encodeURIComponent(location.href)+'&name='+encodeURIComponent(document.title)">Post to <%= workspace.name %></a>
	</div>
</div>


<div id="workspace">
	<h1>Messages</h1>
	<div id="messages">
		<%_.each(workspace.posts.reverse(), function(post) { %>
			<div id="<%= post.postId %>" class="message">
				<% if (post.upload)  { %>
				<p class="poster"><%= post.nickname %> posted a file:</p>
				<% if (post.upload.mimeType.indexOf('image') !== -1) {%>
				<p><img src="/d/<%= post.upload.metafliesPath %>" /></p>
				<% } %>
				<p><a href="/d/<%= post.upload.metafliesPath %>"><%= post.upload.name %></a></p>
				<% } else if (post.location) { %>
				<p class="poster"><%= post.nickname %></p>
				<p><a href="<%= post.location %>"><%= post.name %></a></p>
				<% } else { %>
				<p class="poster"><%= post.nickname %> posted:</p>
				<p><%= post.message %></p>
				<% } %>
				<div class="replies">
					<% _.each(post.replies, function(reply) {%>
						<div id="<%= reply.replyId %>" class="reply">
							<p class="poster"><%= reply.nickname %> replied:</p>
							<p><%= reply.reply %></p>
						</div>
					<% }) %>
					<div class="post_reply">
						<form action="#" class="reply_form">
							<textarea class="reply" name="reply"></textarea>
							<p><input type="submit" value="+reply"></p>
						</form>
					</div>
				</div>
			</div>
		<% }) %>
	</div>
</div>
