<div id="<%= data.postId %>" class="post">
	<p class="poster"><%= data.nickname %> posted a file:</p>
	<% if (data.upload.mimeType.indexOf('image') !== -1) {%>
	<p><img src="/d/<%= data.upload.metafliesPath %>" /></p>
	<% } %>
	<p><a href="<%= data.upload.metafliesPath %>"><%= data.upload.name %></a></p>
	<div class="replies">
	</div>
	<div class="post_reply">
		<h3>Post a reply:</h3>
		<form action="#" class="reply_form">
			<textarea class="reply_field" name="reply"></textarea>
			<p><input type="submit" value="+reply"></p>
		</form>
	</div>
</div>